:root {
  --chart_sec_color2: #16a085;
  --chart_sec_color1: #3498db;
  --chart_color0: #4bb2c5;
  --chart_sec_color3: #2ecc71;
  --chart_color7: #4b5de4;
  --chart_color9: #ff5800;
  --chart_color3: #579575;
  --chart_color6: #953579;
  --chart_color5: #958c12;
  --chart_sec_color4: #f39c12;
  --chart_color8: #d8b83f;
  --chart_sec_color6: #7f8c8d;
  --chart_color2: #c5b47f;
  --chart_sec_color5: #d35400;
  --chart_color1: #EAA228;
  --chart_sec_color0: #1e8449;
  --chart_color4: #839557;
}
