:root {
  --chart_sec_color2: #595959;
  --chart_sec_color1: #404040;
  --chart_color0: #202020;
  --chart_sec_color3: #737373;
  --chart_color7: #606060;
  --chart_color9: #E0E0E0;
  --chart_color3: #B5B5B5;
  --chart_color6: #A0A0A0;
  --chart_color5: #353535;
  --chart_sec_color4: #8c8c8c;
  --chart_color8: #CBCBCB;
  --chart_sec_color6: #bfbfbf;
  --chart_color2: #4B4B4B;
  --chart_sec_color5: #a6a6a6;
  --chart_color1: #8B8B8B;
  --chart_sec_color0: #262626;
  --chart_color4: #757575;
}
